/* ~~ IMPORT NORMALIZE ~~ */
@import "normalize";

/* ~~ CUSTOM RESET ~~ */
// remove all margin and padding
* {
	margin: 0;
	padding: 0;
}
// font family and smooth scroll <html> document
html {
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}
// <ul> style to none
ul {
	list-style: none;
}
// IE nested <ul> style to none
ul ul {
	list-style: none;
}
// <a> and <button>:
a, button {
	display: block; // block level elements
	color: inherit; // color is inherited from parent
	line-height: 1.5em; // line height is the same
}
// no text decoration on <a> 
a {
	text-decoration: none;	
}
// all <button>:
button {
	border: none; // remove border
	background: inherit; // inherit background from parent
	width: 100%; // width set to 100% (match block level elements)
	cursor: pointer; // cursor set to pointer
	text-align: left; // align text to center
	font: normal 1em Arial, Helvetica, sans-serif; // noramal font weight 1em font size arial font
}

/* ~~ FONT STYLE ~~ */
// font size based on modular scale "minor second 1.067" https://www.modularscale.com/?1&em&1.067
h1 {font-size: 1.476em;}
h2 {font-size: 1.383em;}
h3 {font-size: 1.296em;}
h4 {font-size: 1.215em;}
h5 {font-size: 1.138em;}
h6 {font-size: 1.067em;}
p, a, button, span, input, optgroup, select, textarea {
	font-size: 1em;
}

/* ~~ ATTRIBUTE STYLES ~~ */
// IMPORTANT aria hidden true set to display none
[aria-hidden = true] {
	display: none;
}

/* ~~ FOCUS & HOVER STYLES ~~ */
//  IMPORTANT (hidden unless focused) skip to <main> content <a> focus state
#skip-header:focus {
	height: inherit;
	padding: 1rem;
}
// hover states for header <a> and <button> and footer <a>	
#sitewide-header a:hover, #sitewide-header button:hover, #sitewide-footer a:hover {
	text-decoration: underline;
	background-color: lighten(#f2f2f2, 5%);
}
// focus states for header <a> / <button> and footer <a>
#sitewide-header a:focus, #sitewide-header button:focus, #sitewide-footer a:focus {
	text-decoration: underline;
	background-color: lighten(#f2f2f2, 5%);
}
// <body> background color
body {
	background-color: #d9d9d9;
}
// IMPORTANT (hidden unless focused) skip sitewide <header>
#skip-header {
	height: 0;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 2;
	width: 100%;
	background-color: #f2f2f2;
}
// <header> for entire website
#sitewide-header {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #f2f2f2;
}
// add padding to sitewide <header> <a> / <button> and footer <a>
#sitewide-header a, #sitewide-header button, #sitewide-footer a {
	padding: 1rem;
}
// <ul> visible navigation
#visible-navigation {
	display: flex;
}

#logo-container a {
	display: flex;
	align-items: center;
	padding: .35rem 1rem .5rem 1rem;
}

// <span> in <a> in <li> logo container
#logo-container a span {
	margin-top: .3rem;
    margin-left: .5rem;
}

#control-container {
	margin-left: auto;
}
// <a> in <li> in <ul> toggled navigation
#toggled-navigation li a {
	display: flex;
	align-items: center;
}
// <span> in <a> in <li> in <ul> toggled navigation
#toggled-navigation li a span{
	margin-top: .3rem;
	margin-left: .5rem;
}
// <main> main content
#main-content {
	padding: 3.5rem 1rem;
}
// <figure> 
figure {
	margin: 1rem 0;
	border: .1rem solid #ccc;
}
// <img> in <figure>
figure img {
	width: 100%;
	height: auto;
}
// <figcaption> add padding
figcaption {
	margin: .3rem .3rem;
	font-size: .937em;
}
// <footer> sitewide footer
#sitewide-footer {
	background-color: #f2f2f2;
}
// <a> in <footer>
#sitewide-footer a{
	text-align: center;
}
// <a> top button
#top-button {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	opacity: 0;
	transform: scale(0);
	visibility: hidden;
	transition: .5s;
}
// <a> top button with a class of show
#top-button.show {
	opacity: 1;
	transform: scale(1);
	visibility: visible;
}

/* ~~ 768PX MEDIA QUERY ~~ */ 
@media only screen and (min-width: 768px) {
	#sitewide-header {
		width: inherit;
		height: 100vh;
	}
	#visible-navigation {
		flex-direction: column;
	}
	#logo-container img {
		margin-left: .3rem;
	}
	
	#control-container {
		margin-left: 0;
	}
	// <main> main content
	#main-content {
		padding: .5rem .5rem 1rem 5.1rem;
	}
	// <section> dog, car and sport
	.gallery-section {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	// <figure> set to flex - column
	figure {
		padding: 0;
		margin: 1rem .5rem;
		border: .1rem solid #ccc;
	}
	// <img> in <figure> set to flex-grow 1

	// <figcaption> in <figure>
	figcaption {
		margin: .3rem .3rem;
	}
	// <footer> for entire website
	#sitewide-footer {
		padding-left: 4.2rem;
	}
	// <ul> in <footer> sitewide footer
	#sitewide-footer ul {
		display: flex;
		justify-content: space-around;
	}
	// <a> top button
	#top-button {
		bottom: .2rem;
	}
}

